{% extends 'base.html' %}
{% comment %} ^ load base | cannot put this comment on top, idk why  {% endcomment %}

{% load static %}

{% comment %} put content here {% endcomment %}
{% block contentHere %}
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <h5 class="card-title">#</h5>

                <p class="card-text">
                    #
                </p>
            </div>
        </div>
    </div>
{% endblock contentHere %}

{% comment %} place Javascript or other here {% endcomment %}
{% block scriptPlace %}
{% endblock scriptPlace %}